p{
    align-content: center;
    color: blue
}
#para1{
    color: pink
}

.same{
    color:blueviolet;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



